.content {
    flex-grow: 1;
    background: #ffd0e0;
    border-radius: 40px;
    padding: 40px 50px;
    box-shadow: 0 6px 20px rgba(240, 98, 146, 0.35);
    display: flex;
    flex-direction: column;
    width: 82%;
}

.task-list {
    margin-bottom: 20px;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #f06292;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(240, 98, 146, 0.2);
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    transition: background 0.3s ease;
}

.task-header .toggle-arrow {
    font-size: 1.2em;
    transition: transform 0.3s ease;
}

.task {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

/* Убираем границы у ячеек */
th, td {
    padding: 15px;
    text-align: left;
    font-weight: 600;
    border: none; /* Убираем границы */
}

th {
    background-color: #f06292;
    color: #fff;
    font-size: 1.2em;
}

td {
    background-color: #fce7f0;
    color: #7a2350;
}
td>a {
    color: #7a2350;
}

td:nth-child(n+2), th:nth-child(n+2) {
    text-align: center;
}

tr .status.in_progress{
    color: #d1a12b;
}

tr .status.complete{
    color: #00796b;
}

tr .priority.high {
    color: red;
    font-size: 1.1em;
}

tr .priority.middle {
    color: #5ea83a;
    font-size: 1.1em;
}

tr .priority.low {
    color: #163697;
    font-size: 1.1em;
}

td .time-left {
    font-weight: 600;
    color: #9e1b56;
}

tr {
    box-shadow: 1px 1px 4px #d83979;
    border-radius: 25px;
}

tr:hover {
    cursor:pointer;
}

.task > thead > tr > th:first-child, .task > tbody > tr > td:first-child {
    border-radius: 25px 0 0 25px;
    width:50%;
}

.task > thead > tr > th:last-child, .task > tbody > tr > td:last-child {
    border-radius: 0 25px 25px 0;
}

.tabs-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #d83979;
}

.tabs {
    display: flex;
}

.tabs-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #f06292;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px 15px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Comic Neue', cursive, Arial, sans-serif;
    box-shadow: 0 3px 6px rgba(216, 57, 121, 0.6);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d83979;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    color: #9e1b56;
    background: #ffd0e0;
    border: 1px solid #d83979;
    border-radius: 20px 20px 0 0;
    transition: background-color 0.3s ease;
}

.tab.active {
    background: #f06292;
    color: white;
}

.participant {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.participant-photo {
    margin-right: 15px;
}

.participant-info p {
    margin: 0;
    color: #7a2350;
}

.participant-info strong {
    font-size: 1.1em;
}

/* Скрытый контент вкладок */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
